<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>data</key>
		<array>
            <string>01@销售类</string>
			<string>0101@销售助理</string>
			<string>0102@销售经理/销售主管</string>
			<string>0103@渠道总监/分销总监</string>
			<string>0104@渠道代表</string>
			<string>0105@售前支持经理/售前支持主管</string>
			<string>0106@商务经理/商务主管</string>
			<string>0107@商务专员/商务助理</string>
			<string>0108@业务拓展(BD)经理</string>
			<string>0109@电话销售</string>
			<string>0110@销售总监</string>
			<string>0111@销售代表/客户经理</string>
            <string>0112@渠道分销经理/渠道分销主管</string>
            <string>0113@售前支持工程师</string>
            <string>0114@保险代理人/经纪人/客户经理</string>
            <string>0115@医药代表</string>
            <string>0116@区域销售管理</string>
            <string>0117@医疗器械销售</string>
            <string>0118@其他职位(销售类)</string>
            <string>1701@渠道分销经理/渠道分销主管</string>
            <string>1701@渠道分销经理/渠道分销主管</string>
		</array>
		<key>title</key>
		<string>01@销售类</string>
	</dict>
	<dict>
		<key>title</key>
		<string>02@人力资源类</string>
		<key>data</key>
		<array>
            <string>02@人力资源类</string>
			<string>0201@人力资源经理/人力资源主管</string>
			<string>0202@人力资源专员/人力资源助理</string>
			<string>0203@招聘经理/招聘主管</string>
			<string>0204@招聘专员/招聘助理</string>
			<string>0205@培训经理/培训主管</string>
			<string>0206@培训专员/培训助理</string>
			<string>0207@培训师</string>
			<string>0208@薪资福利经理/主管</string>
			<string>0209@薪资福利专员/薪资福利助理</string>
			<string>0210@绩效考核经理/绩效考核主管</string>
			<string>0211@绩效考核专员/绩效考核助理</string>
			<string>0212@员工关系经理/员工关系主管</string>
			<string>0213@员工关系专员/员工关系助理</string>
			<string>0214@人事主管/人事专员</string>
			<string>0215@人力资源总监</string>
			<string>0216@猎头顾问</string>
			<string>0217@其他职位(人力资源类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>03@财务/审计/统计类</string>
		<key>data</key>
		<array>
            <string>03@财务/审计/统计类</string>
			<string>0301@财务主管/总帐主管</string>
			<string>0302@出纳</string>
			<string>0303@财务助理/会计助理</string>
			<string>0304@统计</string>
			<string>0305@财务总监</string>
			<string>0306@财务经理</string>
			<string>0307@会计经理/会计主管</string>
			<string>0308@会计</string>
			<string>0309@财务分析经理/财务分析主管</string>
			<string>0310@财务分析员</string>
			<string>0311@成本经理/成本主管</string>
			<string>0312@成本管理员</string>
			<string>0313@审计经理/审计主管</string>
			<string>0314@审计专员/审计助理</string>
			<string>0315@税务经理/税务主管</string>
			<string>0316@税务专员/税务助理</string>
            <string>0317@投融资经理/投融资主管</string>
            <string>0318@首席财务官CFO</string>
            <string>0319@其他职位(财务/审计/统计类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>04@计算机/网络/技术类</string>
		<key>data</key>
		<array>
            <string>04@计算机/网络/技术类</string>
			<string>0401@系统集成工程师</string>
			<string>0402@语音/视频/多媒体开发</string>
			<string>0403@系统分析员</string>
			<string>0404@数据库管理员/数据库开发工程师</string>
			<string>0405@产品经理</string>
			<string>0406@软件测试</string>
			<string>0407@硬件测试</string>
			<string>0408@游戏设计与开发</string>
			<string>0409@ERP技术应用顾问/ERP实施工程师</string>
			<string>0410@网站策划</string>
			<string>0411@网站编辑</string>
            <string>0412@文档工程师</string>
            <string>0413@研发工程师</string>
            <string>0414@首席技术官CTO/首席信息官CIO</string>
            <string>0415@项目经理/项目主管</string>
            <string>0416@项目执行/协调人员</string>
            <string>0417@高级软件工程师</string>
            <string>0418@互联网软件开发工程师</string>
            <string>0419@高级硬件工程师</string>
            <string>0420@通信技术工程师</string>
            <string>0421@技术支持/维护经理</string>
            <string>0422@品质经理/质量工程师</string>
            <string>0423@网站营运管理</string>
            <string>0424@信息技术专员</string>
            <string>0425@技术总监/技术经理</string>
            <string>0426@信息技术经理/信息技术主管</string>
            <string>0427@技术支持/维护工程师</string>
            <string>0428@系统管理员/网管</string>
            <string>0429@UI设计/网页设计与制作    </string>
            <string>0430@网络工程师</string>
            <string>0431@硬件工程师</string>
            <string>0432@软件工程师</string>
            <string>0433@网络与信息安全工程师</string>
            <string>0434@计算机辅助设计工程师</string>
            <string>0435@工程与项目实施 </string>
            <string>0436@架构师</string>
            <string>0437@其他职位(计算机/网络/技术类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>05@项目管理类</string>
		<key>data</key>
		<array>
            <string>05@项目管理类</string>
			<string>0501@项目总监</string>
			<string>0502@项目经理</string>
			<string>0503@其他职位(项目管理类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>06@电子/电器/通信技术类</string>
		<key>data</key>
		<array>
            <string>06@电子/电器/通信技术类</string>
            <string>0601@电子工程师/电路工程师</string>
            <string>0602@电器工程师</string>
            <string>0603@电信工程师/通讯工程师</string>
            <string>0604@电声工程师</string>
            <string>0605@数码产品开发工程师</string>
            <string>0606@无线电工程师</string>
            <string>0607@半导体工程师</string>
            <string>0608@电子元器件工程师</string>
            <string>0609@电子/电器维修</string>
            <string>0610@研发工程师6</string>
            <string>0611@光源与照明工程师</string>
            <string>0612@测试工程师</string>
            <string>0613@技术文档工程师</string>
            <string>0614@工艺工程师</string>
            <string>0615@集成电路(IC)芯片开发</string>
            <string>0616@机械工程师</string>
            <string>0617@电气工程师</string>
            <string>0618@嵌入式系统软件开发</string>
            <string>0619@工程与项目实施</string>
            <string>0620@移动通信工程师/无线通信工程师</string>
            <string>0621@有线传输工程师 </string>
            <string>0622@增值产品研发</string>
            <string>0623@通信电源工程师</string>
            <string>0624@数据通信工程师</string>
            <string>0625@激光/光电子技术</string>
            <string>0626@版图设计工程师</string>
            <string>0627@电池/电源开发</string>
            <string>0628@现场应用工程师/FAE</string>
            <string>0629@其他职位(电子/电器/通信技术类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>07@建筑/房地产/装饰装修/物业管理类</string>
		<key>data</key>
		<array>
            <string>07@建筑/房地产/装饰装修/物业管理类</string>
			<string>0701@物业管理</string>
			<string>0702@房地产开发/策划</string>
			<string>0703@房地产评估 </string>
			<string>0704@建筑师</string>
			<string>0705@给排水/强电/弱电/制冷暖通</string>
			<string>0706@路桥/隧道/港口/航道工程 </string>
			<string>0707@园艺设计/园林设计/景观设计</string>
			<string>0708@室内外装潢设计</string>
			<string>0709@结构工程师/土木土建工程师 </string>
			<string>0710@建筑设计/建筑制图</string>
            <string>0711@建筑工程管理 </string>
            <string>0712@工程监理</string>
            <string>0713@设备工程师</string>
            <string>0714@造价/概预算 </string>
            <string>0715@城市规划与设计</string>
            <string>0716@房地产中介/交易</string>
            <string>0717@公路桥梁设计/公路桥梁预算师</string>
            <string>0718@施工员</string>
            <string>0719@岩土工程师</string>
            <string>0720@幕墙工程师</string>
            <string>0721@建筑工程验收</string>
            <string>0722@测绘/测量</string>
            <string>0723@房地产销售</string>
            <string>0724@物业顾问</string>
            <string>0725@物业招商/租赁/租售</string>
            <string>0726@物业设施管理</string>
            <string>0727@物业维修</string>
            <string>0728@房地产项目招投标专员</string>
            <string>0729@高级建筑工程师/总工</string>
            <string>0730@其他职位(建筑/房地产/装饰装修/物业管理类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>08@科研类</string>
		<key>data</key>
		<array>
            <string>08@科研类</string>
			<string>0801@科研管理人员</string>
			<string>0802@科研人员</string>
			<string>0803@其他职位(科研类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>09@客户服务类</string>
		<key>data</key>
		<array>
            <string>09@客户服务类</string>
            <string>0901@客户服务专员/客户服务助理</string>
            <string>0902@客户关系管理</string>
            <string>0903@售后支持工程师</string>
            <string>0904@客户服务总监</string>
            <string>0905@售后支持经理/售后支持主管</string>
            <string>0906@客户服务经理/客户服务主管</string>
            <string>0907@客户咨询热线/呼叫中心人员</string>
            <string>0908@其他职位(客户服务类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>10@经营管理类</string>
		<key>data</key>
		<array>
            <string>10@经营管理类</string>
			<string>1001@首席执行官CEO/总裁/总</string>
			<string>1002@总裁助理/总经理助理</string>
			<string>1003@首席运营官COO</string>
			<string>1004@首席技术官CTO/首席信息</string>
			<string>1005@首席财务官CFO </string>
			<string>1006@合伙人</string>
			<string>1007@总监/事业部总经理</string>
			<string>1008@分公司经理/分支机构经理</string>
			<string>1009@部门经理</string>
			<string>1010@厂长/副厂长</string>
			<string>1011@店长</string>
			<string>1012@副总裁/副总经理</string>
			<string>1013@其他职位(经营管理类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>11@法律类</string>
		<key>data</key>
		<array>
            <string>11@法律类</string>
			<string>1101@律师</string>
			<string>1102@法律顾问</string>
			<string>1103@律师助理</string>
			<string>1104@法务人员</string>
			<string>1105@知识产权/专利顾问</string>
			<string>1106@其他职位(法律类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>12@教育/培训类</string>
		<key>data</key>
		<array>
            <string>12@教育/培训类</string>
			<string>1201@教学/教务管理人员</string>
			<string>1202@幼儿教育</string>
			<string>1203@教师</string>
			<string>1204@讲师</string>
			<string>1205@助教</string>
			<string>1206@家教</string>
			<string>1207@健身顾问/教练</string>
			<string>1208@教育产品开发</string>
			<string>1209@其他职位(教育/培训类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>13@医疗卫生/美容保健类</string>
		<key>data</key>
		<array>
            <string>13@医疗卫生/美容保健类</string>
			<string>1301@医疗管理人员</string>
			<string>1302@医疗技术人员</string>
			<string>1303@医生/医师 </string>
			<string>1304@心理医生</string>
			<string>1305@医药检验</string>
			<string>1306@护士/护理人员</string>
			<string>1307@疾病控制/公共卫生</string>
			<string>1308@美容/整形师</string>
			<string>1309@兽医/宠物医生</string>
			<string>1310@药库主任/药剂师</string>
			<string>1311@针灸推拿</string>
			<string>1312@药品注册</string>
            <string>1313@健身顾问/教练</string>
            <string>1314@医药代表</string>
            <string>1315@药学技术与管理人员</string>
            <string>1316@中医</string>
            <string>1317@营养师</string>
            <string>1318@医疗器械销售</string>
            <string>1319@其他职位(医疗卫生/美容保健类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>14@咨询/顾问类</string>
		<key>data</key>
		<array>
            <string>14@咨询/顾问类</string>
			<string>1401@企管顾问/专业顾问/策划师</string>
			<string>1402@调研员</string>
			<string>1403@培训师</string>
			<string>1404@涉外咨询师 </string>
			<string>1405@咨询总监</string>
			<string>1406@咨询经理</string>
			<string>1407@咨询员</string>
			<string>1408@其他职位(咨询/顾问类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>15@在校学生类</string>
		<key>data</key>
		<array>
            <string>15@在校学生类</string>
			<string>1501@应届毕业生</string>
			<string>1502@非应届毕业生</string>
			<string>1503@实习生</string>
			<string>1504@其他(在校学生类)</string>
        </array>
	</dict>
	<dict>
		<key>title</key>
		<string>16@公务员类</string>
		<key>data</key>
		<array>
            <string>16@公务员类</string>
			<string>1601@公务员类</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>17@电器/能源/动力类</string>
		<key>data</key>
		<array>
            <string>17@电器/能源/动力类</string>
			<string>1701@智能大厦/综合布线/弱电</string>
			<string>1702@电气工程师</string>
			<string>1703@光源与照明工程</string>
			<string>1704@变压器与磁电工程师</string>
			<string>1705@电路工程师</string>
			<string>1706@电力工程师</string>
			<string>1707@电气维修技术员</string>
			<string>1708@水利/水电工程师</string>
			<string>1709@核力/火力工程师</string>
			<string>1710@空调/热能工程师</string>
			<string>1711@石油天然气技术人员</string>
			<string>1712@自动控制</string>
			<string>1713@制冷/暖通</string>
			<string>1714@燃气轮机工程师</string>
			<string>1715@其他职位(电气/能源/动力类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>18@技工类</string>
		<key>data</key>
		<array>
            <string>18@技工类</string>
			<string>1801@锯床/车床/磨床/铣床/冲床/锣床</string>
			<string>1802@铲车/叉车工</string>
			<string>1803@机修工</string>
			<string>1804@油漆/钣金</string>
			<string>1805@电工/铆焊工/钳工</string>
			<string>1806@空调工/电梯工/锅炉工</string>
			<string>1807@普工</string>
			<string>1808@水工/木工/油漆工</string>
			<string>1809@切割技工</string>
			<string>1810@产品或工艺工程师 </string>
			<string>1811@模具工程师</string>
			<string>1812@其他职位(技工类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>19@工厂生产类</string>
		<key>data</key>
		<array>
            <string>19@工厂生产类</string>
			<string>1901@仓库管理 </string>
			<string>1902@厂长/副厂长 </string>
			<string>1903@总工程师/副总工程师</string>
			<string>1904@采购管理 </string>
			<string>1905@物料或物流管理</string>
			<string>1906@工程或设备管理</string>
			<string>1907@安全/健康/环境管理</string>
			<string>1908@产品开发</string>
            <string>1909@维修工程师</string>
            <string>1910@技术工程师</string>
            <string>1911@技术或工艺设计经理</string>
            <string>1912@质量管理(QA/QC)</string>
            <string>1913@化验/检验</string>
            <string>1914@生产经理/车间主任</string>
            <string>1915@组长/拉长</string>
            <string>1916@计划/调度</string>
            <string>1917@产品或生产工艺工程师(PE/ME)</string>
            <string>1918@工业工程师(IE)</string>
            <string>1919@制造工程师</string>
			<string>1920@生产文员</string>
            <string>1921@其他职位(工厂生产类)</string>

		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>20@机械/仪器仪表类</string>
		<key>data</key>
		<array>
            <string>20@机械/仪器仪表类</string>
			<string>2001@机电工程师 </string>
			<string>2002@精密机械/仪器仪表工程师/技术员</string>
			<string>2003@机械工程师</string>
			<string>2004@模具工程师</string>
			<string>2005@机械设计师</string>
			<string>2006@机械制图员</string>
			<string>2007@铸造/锻造工程师</string>
			<string>2008@注塑工程师</string>
			<string>2009@CNC工程师</string>
			<string>2010@冲压工程师</string>
			<string>2011@夹具工程师</string>
			<string>2012@锅炉工程师</string>
			<string>2013@焊接工程师</string>
			<string>2014@汽车/摩托车工程师</string>
			<string>2015@船舶工程师</string>
			<string>2016@飞行器设计与制造</string>
			<string>2017@机械维修工程师</string>
			<string>2018@包装/印刷机械</string>
            <string>2019@食品机械</string>
            <string>2020@纺织机械</string>
            <string>2021@设备修理</string>
            <string>2022@其他职位(机械/仪器仪表类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>21@文体/影视/写作/媒体类</string>
		<key>data</key>
		<array>
            <string>21@文体/影视/写作/媒体类</string>
			<string>2101@编辑/记者</string>
			<string>2102@作家/撰稿人</string>
			<string>2103@总编/副总编</string>
			<string>2104@美术编辑</string>
			<string>2105@发行总监/经理/主管 </string>
			<string>2106@出版</string>
			<string>2107@校对/录入</string>
			<string>2108@排版设计</string>
			<string>2109@艺术总监/设计总监</string>
            <string>2110@影视策划/影视制作</string>
            <string>2111@导演/编导</string>
            <string>2112@摄影/摄像</string>
            <string>2113@录音/音效师</string>
            <string>2114@化妆师/造型师</string>
            <string>2115@演员/配音/模特</string>
            <string>2116@主持人/播音员/DJ</string>
            <string>2117@演艺或体育经纪人</string>
            <string>2118@其他职位(文体/影视/写作/媒体类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>22@市场/公关/媒介类</string>
		<key>data</key>
		<array>
            <string>22@市场/公关/媒介类</string>
            <string>2201@广告创意/策划/设计或文案</string>
            <string>2202@市场调研与分析</string>
            <string>2203@产品专员/品牌专员</string>
            <string>2204@市场专员/市场助理</string>
            <string>2205@产品经理/品牌经理/主管</string>
            <string>2206@会务经理/会务主管</string>
            <string>2207@会务专员</string>
            <string>2208@市场企划经理/市场企划主管</string>
            <string>2209@市场企划专员</string>
            <string>2210@广告客户经理</string>
            <string>2211@广告客户主管/广告客户专员</string>
            <string>2212@促销经理/促销主</string>
            <string>2213@促销员</string>
            <string>2214@市场营销专员</string>
            <string>2215@公关媒介经理/公关媒介主管</string>
            <string>2216@公关媒介专员</string>
            <string>2217@市场营销经理/市场营销主管</string>
            <string>2218@市场总监</string>
            <string>2219@市场经理/市场主管</string>
            <string>2220@其他职位(市场/公关/媒介类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>23@培训生类</string>
		<key>data</key>
		<array>
            <string>23@培训生类</string>
			<string>2301@培训生</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>24@美术/设计/创意类</string>
		<key>data</key>
		<array>
            <string>24@美术/设计/创意类</string>
			<string>2401@设计管理人员</string>
			<string>2402@美术/图形设计</string>
			<string>2403@工业/产品设计</string>
			<string>2404@工艺品/珠宝设计</string>
			<string>2405@家具设计</string>
			<string>2406@平面设计</string>
			<string>2407@媒体广告设计</string>
			<string>2408@造型设计</string>
			<string>2409@多媒体设计</string>
			<string>2410@动画设计</string>
			<string>2411@展示/装潢设计</string>
			<string>2412@创意/策划/文案</string>
			<string>2413@服装打样/服装制板</string>
			<string>2414@服装/纺织品设计师</string>
			<string>2415@其他职位(美术/设计/创意类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>25@金融类(银行/基金/证券/期货/投资/典当)</string>
		<key>data</key>
		<array>
            <string>25@金融类(银行/基金/证券/期货/投资/典当)</string>
            <string>2501@投资管理/研究分析/顾问</string>
            <string>2502@行长/副行长/高级管理</string>
            <string>2503@证券/外汇/期货经纪人</string>
            <string>2504@融资项目管理</string>
            <string>2505@风险管理/稽核/法律</string>
            <string>2506@客户经理/金融产品营销管理</string>
            <string>2507@资产管理/资产评估/交易管理</string>
            <string>2508@信贷管理/信用管理</string>
            <string>2509@资金管理/财务管理/清算/结算</string>
            <string>2510@柜员/理财咨询/客户服务/银行会计</string>
            <string>2511@投资银行业务</string>
            <string>2512@银行卡/电子银行/新业务开拓</string>
            <string>2513@国际结算/外汇交易</string>
            <string>2514@证券分析师</string>
            <string>2515@股票/期货操盘手</string>
            <string>2516@拍卖师</string>
            <string>2517@鉴定/估价师</string>
            <string>2518@其他职位(金融类(银行/基金/证券/期货/投资/典当))</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>26@贸易/物流/采购/运输类</string>
		<key>data</key>
		<array>
            <string>26@贸易/物流/采购/运输类</string>
			<string>2601@外贸经理/主管/专员/助理</string>
			<string>2602@国内贸易经理/主管/专员/助理</string>
			<string>2603@业务跟单</string>
			<string>2604@商务经理/主管/专员/助理</string>
            <string>2605@仓库管理</string>
            <string>2606@运输经理/主管</string>
            <string>2607@货运代理</string>
            <string>2608@海陆空交通运输</string>
            <string>2609@调度员</string>
            <string>2610@快递员/速递员</string>
            <string>2611@陆运/海运/空运人员</string>
            <string>2612@采购员/助理</string>
            <string>2613@物流专员/物流助理 </string>
            <string>2614@物料管理</string>
            <string>2615@单证员/报关员</string>
            <string>2616@采购经理/主管</string>
            <string>2617@物流经理/物流主管 </string>
            <string>2618@司机</string>
            <string>2619@供应链管理</string>
            <string>2620@买手</string>
            <string>2621@海关事务管理</string>
            <string>2622@其他职位(贸易/物流/采购/运输类)</string>
            <string>2623@集装箱业务</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>27@翻译类</string>
		<key>data</key>
		<array>
            <string>27@翻译类</string>
            <string>2701@英语</string>
            <string>2702@日语</string>
            <string>2703@法语</string>
            <string>2704@德语</string>
            <string>2705@俄语</string>
            <string>2706@西班牙语</string>
            <string>2707@韩语</string>
            <string>2708@阿拉伯语翻译</string>
            <string>2709@其他语种翻译(翻译类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>28@酒店/餐饮/旅游/服务类</string>
		<key>data</key>
		<array>
            <string>28@酒店/餐饮/旅游/服务类</string>
			<string>2801@礼仪/商务/接线生</string>
			<string>2802@娱乐或餐饮管理</string>
			<string>2803@大堂经理/副理</string>
			<string>2804@楼面经理</string>
			<string>2805@厨师/调酒师</string>
			<string>2806@导游/计调</string>
            <string>2807@健身教练</string>
            <string>2808@宾馆或酒店管理</string>
            <string>2809@营养师</string>
            <string>2810@服务员</string>
            <string>2811@营业员/收银员/理货员</string>
            <string>2812@美容美发</string>
            <string>2813@司机</string>
            <string>2814@保安</string>
            <string>2815@寻呼员/话务员</string>
            <string>2816@社区或家政服务</string>
            <string>2817@票务</string>
            <string>2818@保洁</string>
            <string>2819@其他职位(酒店/餐饮/旅游/服务类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>29@商业零售类</string>
		<key>data</key>
		<array>
            <string>29@商业零售类</string>
			<string>2901@收银员</string>
			<string>2902@店长</string>
			<string>2903@营运</string>
			<string>2904@生鲜/防损技术人员</string>
			<string>2905@理货员</string>
			<string>2906@营业员/服务员/店员/导购员</string>
			<string>2907@其他职位(商业零售类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>30@生物/制药/化工/环保类</string>
		<key>data</key>
		<array>
            <string>30@生物/制药/化工/环保类</string>
			<string>3001@生物工程/生物制药</string>
			<string>3002@临床试验/药品注册</string>
			<string>3003@医药研发/化学制剂研发</string>
            <string>3004@环保技术</string>
            <string>3005@药品销售/推广/业务咨询</string>
            <string>3006@药品生产/质量管理</string>
            <string>3007@化工技术</string>
            <string>3008@医药招商</string>
            <string>3009@涂料开发工程师</string>
            <string>3010@塑料制品研发</string>
            <string>3011@日用化工产品研发</string>
            <string>3012@其他职位(生物/制药/化工/环保类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>31@其他职业类</string>
		<key>data</key>
		<array>
            <string>31@其他职业类</string>
			<string>3101@航空航天</string>
			<string>3102@安全消防</string>
            <string>3103@声光学技术/激光技术</string>
            <string>3104@测绘技术</string>
            <string>3105@地质矿产冶金</string>
            <string>3106@气象</string>
            <string>3107@农林牧渔</string>
            <string>3108@其他类别职位(其他类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>32@质量管理类</string>
		<key>data</key>
		<array>
            <string>32@质量管理类</string>
            <string>3201@质量保证(QA)/质量管理/质量督导</string>
            <string>3202@质量控制(QC)/质量检验</string>
            <string>3203@新产品开发测试</string>
            <string>3204@供应商管理/采购设备与材料质量管理</string>
            <string>3205@质量体系认证</string>
            <string>3206@其他职位(质量管理类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>33@行政/后勤类</string>
		<key>data</key>
		<array>
            <string>33@行政/后勤类</string>
            <string>3301@行政总监</string>
            <string>3302@行政经理/行政主管/办公室主任</string>
            <string>3303@行政专员/助理</string>
            <string>3304@经理助理/秘书/文员</string>
            <string>3305@前台/总机/接待</string>
            <string>3306@图书情报/资料/文档管理</string>
            <string>3307@电脑操作员/打字员</string>
            <string>3308@后勤</string>
            <string>3309@其他职位(行政/后勤类)</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>34@保险类</string>
		<key>data</key>
		<array>
            <string>34@保险类</string>
            <string>3401@精算/产品研发/投资/稽核/法律</string>
            <string>3402@核保/理赔/契约管理/受理台</string>
            <string>3403@组训/培训/人员管理/业务推动</string>
            <string>3404@保险代理人/经纪人/客户经理</string>
            <string>3405@客户服务/续期管理</string>
            <string>3406@保险内勤</string>
            <string>3407@其他职位</string>
            <string>9101@美国旧金山</string>
            <string>9101@美国旧金山</string>
		</array>
	</dict>
</array>
</plist>
